* {
  scroll-snap-type: y proximity;
  font-family: "Indie Flower";
  font-size: 26px;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;

}

:root {
  --nav-height: 56px;
  --color-bg: #0B1020;
  --color-surface: #111827;
  --color-surface-soft: #1F2933;
  --color-primary: #4F46E5;
  --color-accent: #22D3EE;
  --color-text-main: #E5E7EB;
  --color-text-secondary: #9CA3AF;
  --color-text-muted: #6B7280;
  --color-border: #374151;
  --color-text-bright: #D1D5DB; /* soft light gray (NOT white) */


  /* used by JS for scroll offset */
}

/* ensure first section isn't hidden behind the fixed navbar */
body {
  /* existing properties preserved, adjust top padding so content is visible under fixed-top navbar */
  padding-top: calc(var(--nav-height) + 20px);
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-main);
  font-family: 'Inter', system-ui, sans-serif;
  padding: calc(var(--nav-height) + 20px) 20px 20px;
  scroll-snap-type: y proximity;
}

body::-webkit-scrollbar {
  width: 6px;
}


body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color-primary), var(--color-accent));
  border-radius: 12px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Space Grotesk', 'Inter', sans-serif;
  color: var(--color-text-main);
}


h1 {
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


p,
li {
  color: var(--color-text-secondary);
  line-height: 1.6;
}


.win {
  margin-left: 10px;
  padding: 2px;
  width: 30px;
  height: 30px;
  color: none;
  box-shadow: none;
  text-shadow: none;

  &:hover {
    transform: scale(1.3);
  }

}

.hr-scroll {
  height: 100vh;
  scroll-snap-align: start;
}

#navbar {
  background-color: transparent;
}


.navbar-brand {
  font-family: "Monoton", sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.offcanvas {
  color: var(--color-text-main) !important;
  background-color: var(--color-surface);
}


.offcanvas .nav-link.active,
.navbar-nav .nav-link.active {
  color: var(--color-accent) !important;
  text-decoration: underline;
}

.svg1 {
  margin-top: 125px;
}

.svg2 {
  margin: 100px 50px;
}

.svg3 {
  margin-top: 150px;
  margin-left: 30px;
}

.dim {
  width: inherit;
  margin-top: 80px;
}

.col-md-6 {
  margin-top: 100px;
  margin-bottom: 180px;
}




.bi {
  background-color: var(--color-surface-soft);
  color: var(--color-accent);
  padding: 8px 12px 2px 12px;
  font-size: 28px;
  border-radius: 14px;
  transition: all 250ms ease;
}


.bi:hover {
  color: var(--color-text-bright);

  box-shadow: 0 12px 32px rgba(79, 70, 229, 0.35);
}

.b {
  color: var(--color-text-main) !important;

  &:hover {
    color: #12dfe7 !important;
    opacity: none;
  }

  &::before {
    border: 1px solid var(--color-border) !important;
    border-radius: 15%;
    margin: 1px;
    padding: 12px;
    font-size: 16px;
    opacity: none;
    border: 1px solid black;

  }

}

.portfolio {
  color: red !important
}

.text-decoration-underline {
  color: #12dfe7 !important;
}

li {
  list-style: none;
}



.section_il,
.personal_il {
  background-color: var(--color-surface);
  border-radius: 16px;
  border: 1px solid var(--color-border) !important;
  padding: 16px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
  margin: 6px 6px;
  padding: 5px 10px;
  font-size: 22px;
}


.section_il {
  margin: 12px;
  width: 450px;
}


.personal_il {
  box-shadow: 0 16px 40px rgba(79, 70, 229, 0.15);
  width: 270px;
}

.span {
  display: relative;
  overflow: hidden;
  font-size: 0.860rem;
  height: 35px;
  animation: typing 4s forwards infinite;
  margin: -30px 0px 0px 20px;
}

.personal,
.skills,
.projetcs {
  text-decoration: underline;
  text-decoration-color: #07efeb;
}

.stack {
  text-decoration: underline;
  text-decoration-color: #07efeb;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%
  }
}

.navbar-brand {
  font-size: 22px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}


/* .section_il, */
/* .personal_il {
  width: 270px;
  border: 3px solid lightgrey;
  margin: 6px 6px;
  padding: 5px 10px;
  font-size: 22px;
} */

.item_1 {
  height: 80px
}

.item_2 {
  height: 250px
}

.item_3 {
  margin-top: -100px;
  height: 380px
}

.item_4 {
  margin-top: 70px;
  height: 210px
}

.item_5 {
  margin-top: 90px;
  height: 150px
}

.item_6 {
  margin-top: 100px;
  height: 180px
}

.item_1_back {
  height: 80px
}

.item_2_back {
  height: 250px
}

.item_3_back {
  margin-top: -100px;
  height: 380px
}

.item_4_back {
  margin-top: 70px;
  height: 210px
}

.item_5_back {
  margin-top: 90px;
  height: 150px
}

.item_6_back {
  margin-top: 100px;
  height: 180px
}

.personal_il {
  align-self: start;
}

.personal_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  align-items: start;
}

ul li::before {
  content: "\2022";
  color: #0014a8;
  display: inline-block;
  width: 1.5em;
  text-shadow: #0014a8 0px 0px 5px;
}

.progress {
  margin: 8px;
  background: transparent;
  height: 40px;
}

.progress-bar {
  -moz-box-shadow: inset 40px 0 40px #001191;
  -webkit-box-shadow: inset 40px 0 40px #001191;
  box-shadow: inset 40px 0 40px #001191;
}

.logo {
  z-index: 10;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}


.row .hr {
  background: #fdfdf9;
}

#footer {
  position: relative;
  margin: -55px -20px;
}

.degree {
  margin-top: -60px;
  margin-left: 150px;
}

.skills {
  margin-top: 0;
  margin-bottom: 0;

}

.css_chart {
  border-top: 1px solid;
  border-left: 1px solid;
  height: 650px;
  margin: 1em;
  position: relative;
  width: 280px;
}

.all_citates {
  text-align: center;
  margin-top: -350px;
}


.citate {

  margin: -10px auto;
  width: fit-content;
  font-size: 0.875rem;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }

  &::before,
  &::after {
    font-family: serif;
    font-weight: 900;
    font-size: 2rem;
  }
}




.abbr {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.875rem;
}

.abbr:before,
.sign:before {
  content: '\00A9';
}

.footer-copyright {
  background-color: #0014a8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.685rem;
  margin-top: -1px;
}

.custom-shape-divider-bottom-1694609817 {
  position: relative;
  bottom: 0;
  left: 0;
  width: auto;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694609817 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 123px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1694609817 .shape-fill {
  fill: #0014a8;
}

.logo {
  position: absolute;
  transform: rotate(90deg)
}

.navLogo:active {
  animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg)
  }

  100% {
    transform: rotateY(360deg)
  }
}


.degree {
  transform: rotate(270deg)
}

@media only screen and (max-width: 768px) {
  .bi {
    padding: 8px 8px 2px 8px;
    font-size: 20px;
  }

  .how-img {
    order: 2;
  }

  .col-md-6 {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .svg1 {
    margin-top: -80px;
  }

  .svg2 {
    margin-top: -20px;
    margin-left: 50px;
  }

  .svg3 {
    margin-top: -500px;
    margin-left: 50px;
  }

  #footer {
    position: relative;
    margin: -32px -20px;
  }

  .degree {
    height: 200px;
    margin: 180px 50px
  }

  .progress {
    margin: 5px;
    height: 20px;
  }

  .css_chart {
    height: auto;
  }

  .dim {
    margin-top: -100px;
  }

  .all_citates {
    margin-top: -150px;
  }

  .logo {
    width: 22px;
    height: 22px;
  }

  .personal_grid {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: -50px;
  }

  .item_2 {
    margin-top: -110px;
  }

  .item_3 {
    margin-top: -60px;
  }

  .item_4 {
    margin-top: 120px;
    height: 300px
  }

  .item_5 {
    margin-top: 135px;
    height: 200px
  }

  .item_6 {
    margin-top: 90px;
    height: 300px
  }


  .item_1_back {
    height: 80px
  }

  .item_2_back {
    margin: -110px 5px;
    height: 250px
  }

  .item_3_back {
    margin: -60px 5px;
    height: 380px
  }

  .item_4_back {
    margin: 120px 5px;
    height: 300px
  }

  .item_5_back {
    margin-top: 135px;
    height: 200px
  }

  .item_6_back {
    margin-top: 100px;
    height: 300px
  }

}

#hair_two,
#head_first,
#chupchik,
#hair_three {
  animation: look_up 2s infinite alternate ease;
  transform-box: fill-box;
}

@keyframes look_up {

  80% {
    transform: rotateZ(0deg) translate(0, 0)
  }

  100% {
    transform: rotateZ(-15deg) translate(-5px, 3px)
  }
}


#hair_one {
  animation: hair_up 2s infinite alternate ease-in-out;
  transform-box: fill-box;
}

@keyframes hair_up {

  80% {
    transform: rotateZ(0deg) translateX(0)
  }

  100% {
    transform: rotateZ(-17deg) translateX(-6px)
  }
}

#mobile {
  animation: mobile 2s infinite alternate ease-in;
}

@keyframes mobile {
  0% {
    fill: none;
  }
}


#light {
  animation: light 2s infinite alternate ease-in;
}

@keyframes light {
  60% {
    fill: none;
  }

  100% {
    fill: lightgreen;
  }
}

#input1 {
  animation: moveBtn 2s infinite alternate ease-in;
}

@keyframes moveBtn {
  0% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(50px);
  }
}

#profile {
  animation: showload2 5s infinite ease-out;
}

@keyframes showload2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#strok1 {
  animation: change-background 4s linear infinite;
}

@keyframes change-background {
  0% {
    fill: none;
  }

  10% {
    fill: #6c63ff;
  }

  100% {
    fill: #07efeb;
  }
}

#strok2 {
  animation: change-background2 4s linear infinite;
}

@keyframes change-background2 {
  0% {
    fill: none;
  }

  35% {
    fill: #6c63ff;
  }

  100% {
    fill: #07efeb;
  }
}

#strok3 {
  animation: change-background3 4s linear infinite;
}

@keyframes change-background3 {
  0% {
    fill: none;
  }

  50% {
    fill: #6c63ff;
  }

  100% {
    fill: #07efeb;
  }
}

#strok4,
#Vector_12 {
  animation: change-background4 4s linear infinite;
}

@keyframes change-background4 {
  0% {
    fill: none;
  }

  75% {
    fill: #6c63ff;
  }

  100% {
    fill: #07efeb;
  }
}

#load1 {
  animation: showload 5s infinite ease;
}

@keyframes showload {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
}

#load2 {
  animation: showload2 5s infinite ease;
}

@keyframes showload2 {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}

#load3 {
  animation: showload3 infinite 5s ease;
}

@keyframes showload3 {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}

#birds {
  animation: move_birds 20s infinite;
  transform-box: fill-box;
}

@keyframes move_birds {
  0% {
    transform: translate(-70px, 0px);
  }

  50% {
    transform: translate(190px, 25px);
  }

  100% {
    transform: rotate(50deg);
  }
}

#hair,
#head {
  animation: rotate_head 10s infinite alternate ease-in-out;
  transform-box: fill-box;
}

@keyframes rotate_head {

  49% {
    transform: rotateY(0deg) translateX(0px);
  }

  50%,
  100% {
    transform: rotateY(180deg) translateX(-15px);
  }
}

#select1 {
  animation: fill1 3s infinite alternate ease-in;
}

@keyframes fill1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#select3 {
  animation: fill3 3s infinite alternate ease-in;
}

@keyframes fill3 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#grass1,
#grass3,
#grass6,
#grass8 {
  animation: rotateleft 2s infinite alternate ease;
  transform-box: fill-box;
  transform-origin: right;
}

@keyframes rotateleft {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

#grass2,
#grass4,
#grass5,
#grass7,
#grass9,
#grass10 {
  animation: rotaterigth 2s infinite alternate ease;
  transform-box: fill-box;
  transform-origin: left;
}

@keyframes rotaterigth {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

/* .logo:hover {
  animation: hover_icon_seven 5s normal forwards ease-in;

} */

@keyframes hover_icon_seven {
  0% {
    color: white;
    transform: scale(1) rotate(90deg);
  }

  50% {
    color: grey;
    transform: scale(10) translateX(0px) translateY(0px) rotate(90deg);
  }

  100% {
    color: transparent;
    transform: scale(15) translateX(0px) translateY(0px) rotate(90deg);
  }
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}

.flip-card-front {
  font-weight: 700;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transition-duration: 1500ms;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
/* .flip-card-front {
  background-color: #bbb; */
/* color: black;
} */

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  /* border: 3px solid lightgrey; */
  color: var(--color-text-bright);
  transform: rotateY(180deg);
}

/* reveal animation for elements as they enter viewport */
.reveal {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 420ms ease, transform 420ms ease;
  will-change: opacity, transform;
}

.reveal.in-view {
  opacity: 1;
  transform: none;
}

/* active nav link highlight */
.offcanvas .nav-link.active,
.navbar-nav .nav-link.active {
  color: #07efeb !important;
  font-weight: 700;
  text-decoration: underline;
}

/* touch-friendly flip: toggle using JS class instead of hover on small screens */
.flip-card.click-flip .flip-card-inner {
  transition: transform 0.6s;
}

.flip-card.click-flip .flip-card-inner.flip {
  transform: rotateY(180deg);
}

/* small adjustment so svg and embeds can't overflow on narrow screens */
.embed-responsive,
svg,
embed,
model-viewer {
  max-width: 100%;
  height: auto;
}

/* Ensure model-viewer renders with a visible box and doesn't collapse */
model-viewer.dim,
model-viewer {
  display: block;
  width: 100%;
  height: 420px;
  min-height: 300px;
  /* border-radius: 12px; */
  /* box-shadow: 0 8px 24px rgba(0,0,0,0.12); */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.01));
  object-fit: contain;
}

/* small screens */
@media (max-width: 768px) {

  model-viewer.dim,
  model-viewer {
    height: 320px;
    min-height: 220px;
    margin-top: 8px;
  }
}